<header class="border-b-2">
  <div class="max-w-screen-2xl mx-auto py-4 px-[5vw] flex justify-between gap-4 flex-wrap items-center">
    <div class="bg-slate-200 p-[6px] inline-block rounded-full whitespace-nowrap">
      <input #input type="text" placeholder="Search Materials" (input)="filterResults(input)"
        class="p-2 bg-gray-white rounded-full max-sm:w-[200px]" />
      <a (click)="filterResults(input)"
        class="bg-white p-1 text-gray-800 w-9 h-9 rounded-full aspect-square inline-flex justify-center ml-2 items-center">
        <fa-icon [icon]="faSearchIcon"></fa-icon>
      </a>
    </div>
    <div>
      <a (click)="isFilterOpen = true"
        class="bg-blue-500 inline-flex p-2 px-3 text-white rounded-full gap-2 items-center">
        Filter
        <fa-icon [icon]="faFilterIcon"></fa-icon>
      </a>
    </div>
  </div>
  <div [style.right]="isFilterOpen ? '0' : '-100%'"
    class="fixed top-0 duration-500 ease-in-out right-0 z-50 max-w-[500px] w-full h-[100vh] bg-white p-8 flex flex-col justify-between">
    <div class="overflow-y-scroll">
      <div class="flex justify-end">
        <a class="inline-block p-2 px-3 rounded-full bg-red-500 text-white" (click)="isFilterOpen = false">Close
          <fa-icon [icon]="faCloseIcon"></fa-icon>
        </a>
      </div>
      <h2 class="text-2xl font-[600] mt-4">Filter</h2>
      <a class="flex justify-between p-2 px-4 border-y text-xl mt-4" (click)="isTechDropdownOpen = !isTechDropdownOpen">
        <span>Technologies</span>
        <fa-icon class="ml-auto duration-300" [icon]="faChevronDownIcon"
          [style.rotate]="isTechDropdownOpen ? '180deg' : '0deg'"></fa-icon>
      </a>
      <div [style.display]="isTechDropdownOpen ? 'block' : 'none'" class="p-4 text-gray-600">
        <div class="flex gap-2 items-center" *ngFor="let techOption of techOptions; let i = index">
          <input type="checkbox" [value]="techOption" [checked]="techCheckboxStates[i]"
            (change)="onTechCheckboxChange($event, i)" />{{ techOption }}
        </div>
      </div>
      <a class="flex mt-[-1px] justify-between p-2 px-4 border-y text-xl"
        (click)="isIndustryDropdownOpen = !isIndustryDropdownOpen">
        <span>Industries</span>
        <fa-icon class="ml-auto duration-300" [icon]="faChevronDownIcon"
          [style.rotate]="isIndustryDropdownOpen ? '180deg' : '0deg'"></fa-icon>
      </a>
      <div [style.display]="isIndustryDropdownOpen ? 'block' : 'none'" class="p-4 text-gray-600">
        <div class="flex gap-2 items-center" *ngFor="let industryOption of industryOptions; let i = index">
          <input type="checkbox" [value]="industryOption" [checked]="industryCheckboxStates[i]"
            (change)="onIndustryCheckboxChange($event, i)" />{{ industryOption }}
        </div>
      </div>
    </div>
    <div class="mb-16 flex gap-4">
      <a (click)="updateCheckedValues(); filterResults(input)"
        class="flex-1 text-center p-3 rounded-full bg-blue-400 text-white">Apply</a>
      <a (click)="resetAllFilters(); filterResults(input)"
        class="flex-1 text-blue-400 border-blue-400 border text-center p-3 rounded-full">Reset All</a>
    </div>
  </div>
  <div (click)="isFilterOpen = false" [style.display]="isFilterOpen ? 'block' : 'none'"
    class="fixed top-0 right-0 w-[100vw] duration-300 h-[100vh] bgCustom backdrop-blur z-40"></div>
</header>
<div *ngIf="filterTags.length > 0" class="max-w-screen-2xl mx-auto px-[5vw] py-4 flex gap-3 flex-wrap">
  <a (click)="removeFilterTag(tag); filterResults(input)"
    class="border-blue-400 p-1 px-2 text-blue-400 text-sm rounded-full border" *ngFor="let tag of filterTags">
    {{ tag }} <fa-icon class="ml-1" [icon]="faCloseIcon"></fa-icon>
  </a>
  <a (click)="resetAllFilters(); filterResults(input)"
    class="border-blue-400 p-1 px-2 text-blue-400 text-sm rounded-full border" *ngIf="filterTags.length > 1">
    Reset All<fa-icon class="ml-1" [icon]="faCloseIcon"></fa-icon>
  </a>
</div>
